/* div.panel.conf-macro.output-block:nth-child(1) > .panelContent > .sectionColumnWrapper.conf-macro.output-block > .sectionMacro > .sectionMacroRow > .columnMacro.conf-macro.output-block > .panel.conf-macro.output-block > .panelHeader {
  background-color: rgba(227,25,55);
  background-image: linear-gradient(to right, rgba(227,25,55), rgba(168,36,101), rgba(82,54,171));
}	 */

div.panel.conf-macro.output-block:nth-child(1) > .panelContent > .sectionColumnWrapper.conf-macro.output-block > .sectionMacro > .sectionMacroRow > .columnMacro.conf-macro.output-block > .panel.conf-macro.output-block > .panelHeader:nth-child(1) {
  background-color: BLACK;
}	

div.panel.conf-macro.output-block:nth-child(2) > .panelContent {
background-color: PURPLE !important;
}	

div.panel.conf-macro.output-block:nth-child(2) > .panelContent > .sectionColumnWrapper.conf-macro.output-block > .sectionMacro > .sectionMacroRow > .columnMacro.conf-macro.output-block > .panel.conf-macro.output-block > .panelHeader:nth-child(1) {
background-color: rgba(227,25,55); /* NO TOCAR */
  background-image: linear-gradient(to right, rgba(227,25,55), rgba(168,36,101), rgba(82,54,171));
}	

div.panel.conf-macro.output-block:nth-child(3) > .panelContent {
background-color: BLUE !important;
}	

div.panel.conf-macro.output-block:nth-child(3) > .panelContent > .sectionColumnWrapper.conf-macro.output-block > .sectionMacro > .sectionMacroRow > .columnMacro.conf-macro.output-block > .panel.conf-macro.output-block > .panelHeader:nth-child(1) {
background-color: rgba(227,25,55); /* NO TOCAR */
  background-image: linear-gradient(to right, rgba(227,25,55), rgba(168,36,101), rgba(82,54,171));
}	

div.panel.conf-macro.output-block:nth-child(4) > .panelContent {
background-color: GRAY !important;
}	

div.panel.conf-macro.output-block:nth-child(5) > .panelContent {
background-color: RED !important;
}	

div.panel.conf-macro.output-block:nth-child(6) > .panelContent {
background-color: ORANGE !important;
}	

div.panel.conf-macro.output-block:nth-child(7) > .panelContent {
background-color: PURPLE !important;
}	

div.panel.conf-macro.output-block:nth-child(8) > .panelContent {
background-color: BLUE !important;
}	

div.panel.conf-macro.output-block:nth-child(9) > .panelContent {
background-color: GRAY !important;
}	

div.panel.conf-macro.output-block:nth-child(10) > .panelContent {
background-color: RED !important;
}	

div.panel.conf-macro.output-block:nth-child(11) > .panelContent {
background-color: ORANGE !important;
}	

 > div.sectionMacro > div.sectionMacroRow > div.columnMacro > div.panel.conf-macro.output-block:nth-child(2) > .panelContent {
background-color: GREEN !important;
}	
